<div class="games">
  <ng-container>
    <div class="game">
      <div class="game-thumb-container">
        <img
          src="https://picsum.photos/id/237/200/300"
          alt="thumbnail"
          class="game-thumbnail"
        />
      </div>
      <div class="game-description">
        <p class="game-name">Name</p>
        <div class="game-platforms">
          <img
            class="game-platform"
            src="https://picsum.photos/id/237/200/300"
            alt="thumbnail"
          />
        </div>
      </div>
    </div>
  </ng-container>
</div>
